<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:3000/agent">Real World</a>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation"><a class="bannerbtn" href="http://localhost:3000/client_profile/1">Profile <span class="badge"><%= @agentmessage.length %></span></a></li>
    <li role="presentation" class="active"><a class="bannerbtn" href="http://localhost:3000">Log out</a></li>
  </ul>
</nav>

<div class="listofagents">
  <img class="bigdisplay" src="<%= @agent.img %>" alt="Profile Picture"></img>
  <p> <span class="agentname"><%= @agent.name %></span>
  <b>Rating:</b> <%= @agent.reviews.first.rating %><i class="fa fa-star"></i></p>
  <div class="scrollbar scrollbar-morpheus-den agentinfo">
    <div class="force-overflow">
      <p>
        <b>Specialized Location:</b> <%= @agent.location %><br>
        <b>Specialty:</b> <%= @agent.specialty %><br>
      </p>
      <p><b>Biography:</b><br>
        <%= @agent.bio %>
      </p>
    </div>
  </div>
  <div class="request">
    <h5 class="requesttitle">Request Agent</h5>
      <%= form_for Message.new, url: "/agent/#{@agent.id}/agentrequest" do |f| %>
        <p>
          <%= f.label :message%><br>
          <%= f.text_area :content %>
        </p>
        <%= f.submit %>
      <% end %>
  </div>
</div>
