<nav class="navbar sticky-top navbar-light bg-light">
  <%= link_to "Real World", agent_index_path %>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation"><a class="bannerbtn" href="http://localhost:3000/user_profile/1">Profile</a></li>
    <%= link_to "Logout", user_logout_path, :method => :delete %>
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="agentprofileinfo">
        <img class="bigdisplay" src="<%= @agent.img %>" alt="Profile Picture"></img>
        <p>
          <span class="agentname"><%= @agent.name %></span>
        </p>
        <div class="scrollbar scrollbar-morpheus-den agentinfo">
          <div class="force-overflow">
            <p>
              <b>Specialized Location:</b> <%= @agent.location %><br>
              <b>Specialty:</b> <%= @agent.specialty %><br>
            </p>
            <p><b>Biography:</b><br>
              <%= @agent.bio %>
            </p>
          </div>
        </div>
        <div class="request">
          <h5 class="requesttitle">Request Agent</h5>
          <%= simple_form_for @newMessage, :url => agent_message_path(@agent.id)  do |f| %>
            <p class="agentrequesttext">
              <%= f.text_area :content %><br>
            </p>
            <%= f.submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
