<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:3000/agent">Real World</a>
  <ul class="nav nav-pills" role="tablist">

      <li role="presentation"><a class="bannerbtn" href="http://localhost:3000/agent_profile/1">Profile</a></li>

      <li role="presentation" class="active"><a class="bannerbtn" href="http://localhost:3000">Log out</a></li>

  </ul>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="profileinfoedit">
        <center>
          <p>
              <h4> Edit Profile </h4>
              <h3><%= @agent.name %></h3>
              <%= simple_form_for @agent do |f| %>

              <div class="scrollbar scrollbar-morpheus-den editpage">
                <p>
                  <%= f.label :email %><br />
                  <%= f.text_field :email, class: 'form-control'%>
                </p>
                <p>
                  <%= f.label :password %><br />
                  <%= f.text_field :password, class: 'form-control' %>
                </p>
                <p>
                  <%= f.label :specialty %><br />
                  <%= f.text_field :specialty, class: 'form-control' %>
                </p>
                <p>
                  <%= f.label :location %><br />
                  <%= f.text_field :location, class: 'form-control' %>
                </p>
                <p>
                  <%= f.label :bio %><br />
                  <%= f.text_field :bio, class: 'form-control' %>
                </p>
              </div>
              <p><%= f.submit "Save Changes" %></p>
              <% end %>
          </p>
          <%= link_to 'Back', agent_profile_path(@agent) %>
        </center>
      </div>
    </div>
  </div>
</div>
