<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:3000">Real World</a>
  <ul class="nav nav-pills" role="tablist">
    <%= link_to "Profile", agent_profile_path %>
    <%= link_to "Logout", agent_logout_path, :method => :delete %>
  </ul>
</nav>

<div class="messagenotification">
  <center>
    <% if @clientmessage.length === 0 %>
      <div> Sorry ! There is no message for you at the moment . </div>
    <% else %>
      <div>Congratulations! You have <span class="badge"><%= @clientmessage.length %></span> new message!</div>
    <% end %>
  </center>
</div>

<%= react_component("AgentProfile", props: @agent_profile_props, prerender: false) %>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="agentprofileinfo">
        <center>
          <p>
            <h5> <%= @agent.name %> </h5>
            <% if @clientreview.length === 0 %>
              <div> No rating right now . </div>
            <% else %>
              Average Rating: <% @clientreview.each do |review| %>
                <%= review.rating%>
              <% end %><br>
            <% end %>
            <span><img class="agentdisplay"src= '<%= @agent.img %>' alt="pic"></img> </span>
          </p>
          <p>
            <h5 class="title"> About Me </h5>
            <div class="scrollbar scrollbar-morpheus-den messagedagent">
              <b>email:</b> <%= @agent.email %> <br>
              <b>password:</b> ----- <%= @agent.password %> <br>
              <b>specialty:</b> <%= @agent.specialty %><br>
              <b>location:</b> <%= @agent.location %><br>
              <b>bio:</b> <%= @agent.bio %><br>
            </div>
          </p>
          <%= link_to 'Edit', edit_agent_profile_path(@agent) %>
        </center>
      </div>
    </div>


    <div class="col-md-6">
      <div class="agenthistory">
        <div class="messagedagent">
          <p><center><h5>Clients Messages</h5></center></p>
          <div class="scrollbar scrollbar-morpheus-den messagedagent">
            <div class="force-overflow">
              <% @clientmessage.each do |message| %>
                <ul>
                  <p>
                    <b><%= message.user.name %></b>
                      <span>
                        <%= link_to 'Respond', new_response_path, method: :get %>
                        <%= link_to 'Reject', response_path, :confirm => "Are you sure?", method: :delete %>
                      </span>
                  </p>
                  <p><%= message.content %></p>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
        <div class="reviewedagent">
          <p><center><h5>Clients Reviews</h5></center></p>
          <div class="scrollbar scrollbar-morpheus-den messagedagent">
            <div class="force-overflow">
              <% @clientreview.each do |review| %>
                <ul>
                  <p><h5><%= review.user.name %></h5>
                  <p>
                    <b>Rating: </b><%= review.rating %><br>
                    <%= review.comment %>
                  </p>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
