<nav class="navbar sticky-top navbar-light bg-light">
  <a class="navbar-brand" href="http://localhost:3000/agent">Real World</a>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation"><a class="bannerbtn" href="http://localhost:3000/client_profile/1">Profile</a></li>
    <li role="presentation" class="active"><a class="bannerbtn" href="http://localhost:3000">Log out</a></li>
  </ul>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="profileinfoedit">
        <center>
          <p>
              <h2> Edit Profile </h2>
              <h4><%= @user.name %></h4>
              <hr>
              <%= simple_form_for @user, url: user_profile_path(@user) do |f| %>
              <div class="scrollbar scrollbar-morpheus-den usereditpage">
                <p>
                  <%= f.label :email %><br />
                  <%= f.text_field :email %>
                </p>
                <p>
                  <%= f.label :password %><br />
                  <%= f.text_field :password %>
                </p>
                <p>
                  <%= f.label :location %><br />
                  <%= f.text_field :location %>
                </p>
                <p>
                  <%= f.label :budget %><br />
                  <%= f.text_field :budget %>
                </p>
                <p>
                  <%= f.label :size %><br />
                  <%= f.text_field :size %>
                </p>
                <p>
                  <%= f.label :age %><br />
                  <%= f.text_field :age %>
                </p>
                <p>
                  <%= f.label :address %><br />
                  <%= f.text_field :address %>
                </p>
                <p>
                  <%= f.label :occupation %><br />
                  <%= f.text_field :occupation %>
                </p>
              </div>
              <p><%= f.submit "Save Changes" %></p>
              <% end %>
          </p>
          <%= link_to 'Back', user_profile_path(@user) %>
        </center>
      </div>
    </div>
  </div>
</div>
